.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.images {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

@media only screen and (max-height: 480px) {
  .images {
    max-width: 400px;
  }
}
